# Android
ANDROID_DEVICE_NAME=
ANDROID_PLATFORM_VERSION=
AUTO_GRANT_PERMISSIONS=true
DEFAULT_PIN=1234
INCORRECT_PIN=1111

# iOS
IOS_DEVICE_NAME=
IOS_PLATFORM_VERSION=
AUTO_ACCEPT_ALERTS=true

# Common
REACT_NATIVE_PATH=
BUNDLE_ID=

# Test Specific
USER_USERNAME=
USER_PASSWORD=